@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

.my-page {
    background-image: url('../assets/bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

.register-section {
    background-image: url('../assets/pp.png');
    height: 50%;
    width: 50%;
}

.dash {
    background-image: url('../assets/bg.png');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

.nav {
    border: 1px solid rgba(255, 255, 255, 0.50);
    background: rgba(255, 255, 255, 0.11);
    backdrop-filter: blur(62.138668060302734px);
}

.post-card {
    fill: rgba(255, 255, 255, 0.12);
    stroke-width: 1px;
    stroke: rgba(255, 255, 255, 0.80);
    backdrop-filter: blur(54.84733200073242px);
}

.tree{
    border-radius: 34px;
    border: 1px solid rgba(255, 255, 255, 0.80);
    background: rgba(255, 255, 255, 0.12);
    backdrop-filter: blur(47.776363372802734px);
}
